* {
    margin: 0;
    background-color: black;
  }

h1
{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size:20px;
    font-weight:bolder;
}
